<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMW Showcase</title>
    <link rel="stylesheet" href="static/style.css">
    <style>/* General Body Styles */      
        
        </style>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a href="/" class="logo">BMW</a>
                <div class="navbar-links">
                    <a href="/models/">Models</a>
                    <!-- Add login and signup buttons -->
                    <a href="/pythonlogin/" class="btn-login">Login</a>
                    <a href="/pythonlogin/register" class="btn-signup">Signup</a>    
                    <a href="/admin_login" class="btn-signup">Admin Login</a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section class="hero">
            <div class="container">
                <h2>Welcome to BMW</h2>
                <p>Explore the world of BMW, built on automotive brilliance and unrivaled experiences.</p>
            </div>
        </section>

        <section class="models">
            <div class="container">
                <h2>Our Models</h2>
                <div class="model-grid">
                    <!-- Example model, replicate this block for other models -->
                    <div class="model">
                        <img src="/static/images/1.jpg" alt="BMW Model">
                        <h3>BMW iX</h3>
                        <p>Born from a vision. Created for electric mobility. Thanks to efficient BMW eDrive technology and its fully electric all-wheel drive, the BMW iX achieves an exceptional range and delivers powerful acceleration from a standstill. The intelligent BMW Operating System 8.5 always keeps itself up to date and can be operated completely intuitively.</p>
                    </div>
                    <div class="model">
                        <img src="/static/images/2.jpg" alt="BMW Model">
                        <h3>BMW i7</h3>
                        <p>The first fully electric BMW i7 combines electric performance and multisensory entertainment to produce an unforgettable motoring experience.
                            Welcoming scenario “Great Entrance Moments”
                            Crystal headlights and illuminated BMW ‘Iconic Glow’ kidney grille
                            Luxurious lounge atmosphere in the interior with individual My Modes
                            Cinema experience on 31.3” Theatre Screen in the rear passenger compartment
                            400kW and up to 625km fully electric range
                            </p>
                    </div>
                    
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 BMW</p>
        </div>
    </footer>
</body>
</html>
