{% extends 'auth/auth_layout.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content%}
<header>
    <nav class="navbar">
        <div class="container">
            <a href="/" class="logo">BMW</a>
            <div class="navbar-links">
                <a href="#">Models</a>
                
            </div>
        </div>
    </nav>
</header>
<div class="login">
    {% include "includes/alert.html" %}
    <h1>Admin Login</h1>
    <form action="{{ url_for('admin_login') }}" method="post">
        <div class="input-icon">
            <label for="username">
                <i class="fas fa-user"></i>
            </label>
            <input type="text" name="username" placeholder="Username" id="username" required>
        </div>
        <br>
        <div class="input-icon">
            <label for="password">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="password" placeholder="Password" id="password" required>
        </div>
        <div class="msg">{{ msg }}</div>
        <input type="submit" value="Login">
    </form>
    
</div>
{% endblock %}