<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>BMW Models</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Additional styling if needed */
        .model-card img {
            height: 250px; /* Fixed height for images */
            object-fit: cover; /* Ensures images cover the space well */
        }
        .card-text {
            text-align: justify; /* Justify the text of the description */
            text-justify: inter-word; /* Improves spacing between words */
        }
    </style>
    
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a href="/" class="logo">BMW</a>
            </div>
        </nav>
    </header>
<div class="container mt-5">
    <h1 class="mb-5">Latest BMW Models</h1>
    <div class="row">
      
        <div class="col-md-4 mb-4">
            <div class="card model-card">
                <img src="/static/images/1.jpg" class="card-img-top" >
                <div class="card-body">
                    <h5 class="card-title">BMW iX</h5>
                    <p class="card-text">Born from a vision. Created for electric mobility. Thanks to efficient BMW eDrive technology and its fully electric all-wheel drive, the BMW iX achieves an exceptional range and delivers powerful acceleration from a standstill. The intelligent BMW Operating System 8.5 always keeps itself up to date and can be operated completely intuitively.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card model-card">
                <img src="/static/images/2.jpg" class="card-img-top" >
                <div class="card-body">
                    <h5 class="card-title">BMW i7</h5>
                    <p class="card-text">The first fully electric BMW i7 combines electric performance and multisensory entertainment to produce an unforgettable motoring experience.
                        Welcoming scenario “Great Entrance Moments”
                        Crystal headlights and illuminated BMW ‘Iconic Glow’ kidney grille
                        Luxurious lounge atmosphere in the interior with individual My Modes
                        Cinema experience on 31.3” Theatre Screen in the rear passenger compartment
                        400kW and up to 625km fully electric range</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card model-card">
                <img src="/static/images/3.jfif" class="card-img-top" >
                <div class="card-body">
                    <h5 class="card-title">BMW i5</h5>
                    <p class="card-text">TPowerful motor and sporty driving dynamics: the new BMW i5 M60 xDrive delivers the performance typical of a BMW M – fully electrically. Video shows non-actual values.</p>
                </div>
            </div>
        </div>
        
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
